In [ ]:
# Types

In [8]:
print("Exercise 1 (Types) : Your First Program")
print("최승호: 석사 24 / 학번: 2024158814")

Exercise 1 (Types) : Your First Program
최승호: 석사 24 / 학번: 2024158814

In [1]:
# Try your first Python output
print('Hello, Python!')
print("제 이름은 최승호입니다.")

Hello, Python!
제 이름은 최승호입니다.

In [10]:
# Check the Python Version
import sys
print("지금 사용 중인 파이썬 버전:", sys.version) # 내가 지금 사용하고 있는 python의 버전 확인

지금 사용 중인 파이썬 버전: 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [2]:
# Practice on writing comments
# this is just for testing

print('#이 붙으면 주석을 달기 위함')

# 숙제를 깃허브에 올리고 LMS에 링크 제출할 것!

#이 붙으면 주석을 달기 위함

In [4]:
# Print string as error message

frint("Hello, Python!") # 에러 발생

# 요즘은 gpt가 코드를 짜주기도 하지만, 직접 에러 확인해야 할 경우도 많음

NameError: name 'frint' is not defined

In [6]:
# Try to see build in error message

# 문자열의 시작은 쌍따옴표, 따옴표로 해야함

print("Hello, Python!) # 다른 에러 발생

SyntaxError: EOL while scanning string literal (2070547096.py, line 5)

In [7]:
# 파이썬은 interpreted language임. symbolic한 표현들을 컴퓨터에게 한 줄, 한 줄 보내는 것

# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [13]:
# Integer
11

11

In [14]:
# Float
2.14

2.14

In [15]:
# String
"Hello, Python 101!"

'Hello, Python 101!'

In [18]:
# Type of 12
type(12) # 즉 12가 어떤 데이터 타입인지를 알려주는 type 함수이고, 이 type 함수는 우리에게 12는 integer, 즉 정수라는 것을 알려줌

int

In [17]:
# Type of 2.14
type(2.144) # type 이라는 함수는 괄호 안 데이터의 형태를 알려주는 함수

float

In [19]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [21]:
# Converting

type(2)

int

In [23]:
type(float(2))

float

In [26]:
int(2.6) # 실수 float를 정수 integer로 변경

2

In [27]:
type(False)

bool

In [1]:
Name = "Michael Jackson"
Name

'Michael Jackson'

In [13]:
a = Name[1::3]
a

'ia co'

In [17]:
b = len(Name)
b

15

In [22]:
Name[0:7:2]

'Mcal'

In [25]:
3 * Name

'Michael JacksonMichael JacksonMichael Jackson'

In [29]:
print("aaa \nbbb")

aaa
bbb

In [28]:
print('aaa \t bbb')

aaa 	 bbb

In [31]:
print('aaa\\bbb')

aaa\bbb

In [34]:
a = Name.upper()
a

'MICHAEL JACKSON'

In [35]:
b = Name.lower()
b

'michael jackson'

In [36]:
c = Name.replace('Michael', 'babo')
c

'babo Jackson'

In [37]:
d = Name.swapcase()
d

'mICHAEL jACKSON'

In [40]:
e = Name.find('ac')
e

9

In [42]:
f = Name.find('bb')
f

-1