># 2주차 숙제 1
### Types.ipynb
### 최승호 24 석사 / 학번: 2024158814

***
***

# "Exercise 1 (Types) : Your First Program"

In [2]:
print("Hello, world!")

Hello, world!

In [1]:
print("Hello, world!")  # Print the traditional hello world

Hello, world!

# "Exercise 2 (Types): Get the object type"

In [1]:
type(12.0)  # type함수를 이용하여 데이터의 type을 알아보는 것 --> 12.0 의 데이터 type은 float

float

# "Exercise 3 (Types): Types"
### '/' 와 '//' 를 이용해서 데이터 결과값의 type을 변경

In [3]:
type(6/2)

float

In [4]:
type(6//2)

int

# "Exercise 4 (Types): Expression"

In [7]:
# Let's write an expression that calculates how many hours there are in 160 minutes:
160/60

2.6666666666666665

In [8]:
160//60

2

In [9]:
30 + 2 * 60

150

In [12]:
(30 + 2) * 60

1920

# "Exercise 5 (Types): Expression and Variables in Python"

In [20]:
x = 3 + 2 * 2
x

7

In [22]:
y = (3 + 2) * 2
y

10

In [23]:
z = x + y
z

17

> # done!