# Tuples

In [9]:
tuple1 =("disco", 10, 1.2)
tuple1

('disco', 10, 1.2)

In [10]:
type(tuple1)

tuple

In [11]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [12]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [13]:
tuple1[-3]

'disco'

In [15]:
tuple1[0]

'disco'

In [20]:
tuple1[0][0]

'd'

In [21]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [22]:
len(tuple2)

5

In [28]:
tuple2[3:4] # 튜플로 표현하다보니 콤마가 생김

('hard rock',)

In [30]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [31]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [33]:
NestedT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1,2)))

In [41]:
NestedT[4][1][1]

2

# List

In [42]:
L = ['Michael Jackson', 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [48]:
type(L[2])

int

In [50]:
L1 = ["Michael Jackson", 10.1, 1982, (1, 2), ("A", 1)]
L1

['Michael Jackson', 10.1, 1982, (1, 2), ('A', 1)]

In [51]:
L1[0] = "Janet" # list는 가능하지만 tuple은 안됨
L1

['Janet', 10.1, 1982, (1, 2), ('A', 1)]

In [54]:
L = ["Michael Jackson", 10.2]
L.extend(["pop", 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [55]:
L = ["Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [56]:
del(L[0])
L

[10.2, ['pop', 10]]

In [58]:
A = ["Michael Jackson", 10.2, ["pop", 10]]
A

['Michael Jackson', 10.2, ['pop', 10]]

In [59]:
what = 'hard rock'.split()
print(what)

['hard', 'rock']

In [60]:
type(what)

list

In [61]:
what[1]

'rock'

In [65]:
Split_string_comma = 'A, B, C, D'.split(',')
Split_string_comma
type(Split_string_comma)
Split_string_comma[0]

'A'

# Copy and Clone List

In [66]:
A = ["hard rock", 10, 1.2]
B = A           # 같은 곳을 가리킨다.
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [67]:
A[0] = "R&B"

print("A:", A)
print("B:", B)

A: ['R&B', 10, 1.2]
B: ['R&B', 10, 1.2]

In [68]:
# B를 A로부터 독립적인 리스트를 만들려면?
A = ["hard rock", 10, 1.2]
B = A[:]
B

['hard rock', 10, 1.2]

In [70]:
A[0] = "R&B"
print("A:", A)
print("B:", B)

A: ['R&B', 10, 1.2]
B: ['hard rock', 10, 1.2]

# Dictionaries

In [72]:
# list는 index를 이용해서 접근하지만 dictionary는 key 값으로 접근하게 됨. 더 빠르고 효과적
# tuple, list, 정수, 실수, str 등 모두 key 값이 될 수 있음

In [75]:
Dict = {"key1" : 1, "key" : "2", "key3" : [3, 3, 3], "key4" : (4, 4, 4), "key5" : 5, (0, 1): 6, 1.2: 5}
Dict

{'key1': 1,
 'key': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6,
 1.2: 5}

In [76]:
release_year_dict = {
    "Thriller": "1982",
    "Back in Black": "1980",
    "The Dark Side of the Moon": "1973",
    "The Bodyguard": "1992",
    "Bat Out of Hell": "1977",
    "Their Greatest Hits (1971-1975)": "1976",
    "Saturday Night Fever": "1977",
    "Rumours": "1977",
}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [78]:
release_year_dict["Rumours"]

'1977'

In [79]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [80]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [86]:
release_year_dict["Graduation"] = '2002'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Graduation': '2002'}

In [84]:
del(release_year_dict["Rumours"])
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Graduation': '2002'}

In [87]:
'Thriller' in release_year_dict

True

In [88]:
'Rumours' in release_year_dict

False