> # 6주차 숙제 1
### Functions.ipynb
### 최승호 24 석사 / 학번: 2024158814

***
***

## Training

### Part1

In [2]:
# define
def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(a, b)

In [5]:
return_value = add(1) # 함수 호출

1 if you add one 2

In [6]:
return_value

(1, 2)

In [8]:
return_value = add(2)
return_value

2 if you add one 3

(2, 3)

In [3]:
help(add)

Help on function add in module __main__:

add(a)
    # define

In [13]:
def Mult(a, b):
    c = a * b
    return(c)

In [10]:
result_mult = Mult(2.3, 3.1)
type(result_mult)

float

In [14]:
Mult(10.0, 3.14)

31.400000000000002

In [15]:
Mult(2, 'Michael Jackson')

'Michael JacksonMichael Jackson'

### Part2

Variables

local = 지역
global = 전역

In [16]:
def square(a):
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c)
    return(c)

In [20]:
def MJ():
    print('Michael Jackson')

def MJ1():
    print("Michael Jackson")
    return(None)

In [21]:
MJ()

Michael Jackson

In [22]:
MJ1()

Michael Jackson

In [23]:
def con(a, b):
    return(a + b)

In [27]:
text_return = con("This ", "is")
text_return
type(text_return)

str

In [36]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 - b1 -1
if(c1 < 0):
    c1 = 0
else:
    c1 = 5
c1

5

In [37]:
a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0
else:
    c2 = 5
c2

0

In [38]:
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0
    else:
        c = 5
    return(c)

In [39]:
Equation(0, 0)

0

In [41]:
def type_of_album(artist, album, year_released):

    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"


x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)
type(x)

Michael Jackson Thriller 1980
Oldie

str

In [43]:
def PrintList(the_list):
    for element in the_list:
        print(element)
        
        
PrintList(['1', 1, 'the man', 'abc'])

1
1
the man
abc

In [44]:
def isGoodRating(rating=4):
    if(rating < 7):
        print("this album sucks it's rating is", rating)

    else:
        print("this album is good its rating is", rating)

In [45]:
isGoodRating()

this album sucks it's rating is 4

In [46]:
isGoodRating(10)

this album is good its rating is 10

In [47]:
artist = "Michael Jackson" # global
def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")


printer1(artist, internal_var)

NameError: name 'internal_var' is not defined

In [48]:
def printer(artist):
    global internal_var
    internal_var = "Whitney Houston"
    print(artist, "is an artist")
    

printer(artist)
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

***

<h2>Quiz on Functions</h2>

Come up with a function that divides the first input by the second input:

In [18]:
def devide(a, b):
    c = a / b
    return(c)

devide(1, 10)

0.1

<hr>

Use the function <code>con</code> for the following question.

In [ ]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add to integers or strings?

In [34]:
# Yes, for example

# integers
con(3, 5)   # 8

# strings
con("python ", "programming")  # 'python programming'

'python programming'

<hr>

Can the <code>con</code> function we defined before be used to concentrate a list or tuple?

In [35]:
# Yes, for example

# list
con([1, 2], [3, 4])  # [1, 2, 3, 4]

# tuple
con((1, 2), (3, 4))  # (1, 2, 3, 4)

(1, 2, 3, 4)

***
***

> # done!